@use '../libs' as *;

.side-bar {
    position: static;
    grid-column: 1;
    @include flex-center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    margin-left: 25%;

    ul {
        list-style: none;
        width: 100%;

        li {
            cursor: pointer;
            font-size: 125%;
            width: fit-content;
            font-weight: 600;
            border-radius: $br-px;
            color: white;
            padding: 11px 15px;
            margin: 10px 0px;

            &:hover {
                background-color: getColor(hover_bg);
                color: getColor(hover_fg);
            }

            i {
                font-size: 125%;
            }

            span {
                margin-left: 10px;
            }
        }
        .tweet-btn {
            font-size: 90%;
            background-color: getColor(accent);
            text-align: center;
            padding: 18px 15px;
            width: 45%;
            &:hover {
                background-color: getColor(hover_acc);
                color: getColor(fg);
            }
        }
    }

    .user-info {
        @include flex-center;
        cursor: pointer;
        border-radius: $br-px;
        width: 50%;
        margin: 20px 0px;
        padding: 10px;
        justify-content: space-between;

        &:hover {
            background-color: getColor(hover_bg);
        }

        .info-left {
            display: flex;

            // User Icon
            .fa-user {
                @include user-icon;
                font-size: 200%;
            }

            // Twitter @handle
            .handle {
                color: getColor(grey_fg);
            }
        }
        .down-btn {
            font-size: 110%;
            margin: 8px;
        }
    }
}
