.main-col
    .latest-tweets-header
        h3 Latest Tweets
    .status
        .type-in
            i.fas.fa-user
            input(type='text' placeholder="What's happening?")
        .lower-btns
            .icons
                i.far.fa-image
                i.fas.fa-chart-bar
                i.far.fa-smile
                i.far.fa-calendar-alt
            .send-tweet Tweet
    .posts
        ul
            //- Post with Pic Article
            li.post
                .icon-col
                    img.user-icon(src='imgs/prof-4.jpg' alt='')
                    .thread-spacer
                .main-msg-col
                    .top-info
                        .user-name Gabe Pristick
                        .handle &nbsp;@PristG
                        .time &nbsp;&bull; 2m
                    .msg-body This isn't real twitter!

                    .msg-img 
                        img(src="imgs/pic-2.jpg", alt="abstract-colors")

                    .msg-btns
                        i.far.fa-comment
                        i.fas.fa-retweet
                        i.far.fa-heart
                        i.fas.fa-upload

            //- Post with Text
            li.post
                .icon-col
                    img.user-icon(src='imgs/prof-3.jpg' alt='')
                    .thread-spacer
                .main-msg-col
                    .top-info
                        .user-name Angela Johnson
                        .handle &nbsp;@TheJohnson
                        .time &nbsp;&bull; 4m
                    .msg-body
                        | Tweet and Retweet were in a boat.
                        | Tweet fell out, who was left?
                        | Tweet and Retweet were in a boat.
                        | Tweet fell out, who was left?
                        //- | Tweet and Retweet were in a boat.
                        //- | Tweet fell out, who was left?
                    .msg-btns
                        i.far.fa-comment
                        i.fas.fa-retweet
                        i.far.fa-heart
                        i.fas.fa-upload

            //- Post with Pic
            li.post
                .icon-col
                    img.user-icon(src='imgs/prof-5.jpg' alt='')
                    .thread-spacer
                .main-msg-col
                    .top-info
                        .user-name Kathy Geiss
                        .handle &nbsp;@ItsTheKarthy
                        .time &nbsp;&bull; 7m
                    .msg-body This post shares a photo!

                    .msg-img 
                        img(src="imgs/pic-1.jpg", alt="abstract-colors")

                    .msg-btns
                        i.far.fa-comment
                        i.fas.fa-retweet
                        i.far.fa-heart
                        i.fas.fa-upload
