.main-col
  .latest-tweets-header
    h3 Latest Tweets
  .status
    .type-in
      i.fas.fa-user
      input(type='text' placeholder="What's happening?")
    .lower-btns
      .icons
        i.far.fa-image
        i.fas.fa-chart-bar
        i.far.fa-smile
        i.far.fa-calendar-alt
      .send-tweet Tweet
  .posts
    ul
      li.post
        .icon-col
          img.user-icon(src='imgs/prof-1.jpg' alt='')
          .thread-spacer
        .main-msg-col
          .top-info
            .user-name UserName Here
            .handle &nbsp;@Usernameyo
            .time &nbsp;&bull; 2m
          .msg-body
            | Lorem ipsum dolor sit amet, consectetur
            | adipisicing elit. Totam odio tenetur
            | suscipit sapiente cum ad sed necessitatibus
            | ipsum? Maxime deserunt suscipit, aliquam
            | aliquid reprehenderit nemo impedit optio
            | architecto natus consequatur.
          .msg-btns
            i.far.fa-comment
            i.fas.fa-retweet
            i.far.fa-heart
            i.fas.fa-upload