.profiles

  //- Search Bar
  .searchBar
    i.fas.fa-search
    input(type='text' placeholder='Search Twitter')

  //- Trending 
  .whats-happening.card
    h3.heading What&apos;s happening
    ul
      li.trend1
        .info
          .topics
            .top-type Politics &bull;
            .trend-time
              | Last night
          .trend-name
            | Some Story you heard about only here.
          .num-tweet 35.7k Tweets
        i.fas.fa-angle-down.down-btn
      li.trend2
        .info
          .topics
            .top-type Politics &bull;
            .trend-time
              | Last night
          .trend-name Heard About this?
          .num-tweet 58.9k Tweets
        i.fas.fa-angle-down.down-btn
      li.trend3
        .info
          .topics
            .top-type Politics &bull;
            .trend-time
              | Last night
          .trend-name
            | Is the World Ending?
          .num-tweet 44.1k Tweets
        i.fas.fa-angle-down.down-btn
      li.trend4
        .info
          .topics
            .top-type Politics &bull;
            .trend-time
              | Last night
          .trend-name
            | #MyPoliticalPartyisBetterThanYours
          .num-tweet 60.7k Tweets
        i.fas.fa-angle-down.down-btn
    .show-more-btn Show more

  //- People to Follow
  .who-to-follow.card
    h3.heading Who to follow
    ul
      li
        .prof-info
          .info-left
            img(src='imgs/prof-1.jpg' alt='user-1')
            .name-and-handle
              .user-name
                | Josephin Slacker
              .handle
                | @JosephinSlackin
          .follow-btn Follow
      li
        .prof-info
          .info-left
            img(src='imgs/prof-2.jpg' alt='user-2')
            .name-and-handle
              .user-name Oscar Pena
              .handle @Oscarito
          .follow-btn Follow
    .show-more-btn Show more
