.side-bar
    ul.options
        li
            i.fab.fa-twitter
        li.home-btn
            i.fas.fa-home
            span Home
        li.explore-btn
            i.fas.fa-hashtag
            span Explore
        li.notifications-btn
            i.far.fa-bell
            span Notifications
        li.messages-btn
            i.far.fa-envelope
            span Messages
        li.bookmarks-btn
            i.far.fa-bookmark
            span Bookmarks
        li.lists-btn
            i.far.fa-list-alt
            span Lists
        li.profile-btn
            i.far.fa-user
            span Profile
        li.more-btn
            i.fas.fa-ellipsis-h
            span More
        li.tweet-btn Tweet
    .user-info
        .info-left
            i.fas.fa-user
            .name-and-handle
                .user-name Starman J
                .handle @StarmanJ1
        i.fas.fa-angle-down.down-btn