* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-color: #16212b;
  font-family: Helvetica, Arial, sans-serif;
}

.layout {
  display: grid;
  grid-template-columns: 25% 42% 33%;
  height: 100vh;
  width: 100vw;
}

.side-bar {
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
  margin-left: 25%;
}
.side-bar ul {
  list-style: none;
  width: 100%;
}
.side-bar ul li {
  cursor: pointer;
  font-size: 125%;
  width: fit-content;
  font-weight: bold;
  border-radius: 70px;
  color: white;
  padding: 15px;
}
.side-bar ul li:hover {
  background-color: #172d3f;
  color: #1da1f2;
}
.side-bar ul li i {
  font-size: 110%;
}
.side-bar ul li span {
  margin-left: 10px;
}
.side-bar ul .tweet-btn {
  background-color: #1da1f2;
  text-align: center;
}
.side-bar ul .tweet-btn:hover {
  background-color: #1da0f2c5;
  color: #fff;
}
.side-bar .user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 70px;
  margin: 20px auto;
  padding: 10px;
  justify-content: space-between;
}
.side-bar .user-info:hover {
  background-color: #172d3f;
}
.side-bar .user-info .info-left {
  display: flex;
}
.side-bar .user-info .info-left .fa-user {
  margin-right: 10px;
  color: #657787;
  background-color: #cdd6dd;
  padding: 5px;
  padding-bottom: 0px;
  border-radius: 50%;
  overflow: hidden;
  font-size: 200%;
}
.side-bar .user-info .info-left .handle {
  color: grey;
}
.side-bar .user-info .down-btn {
  font-size: 110%;
  margin: 8px;
}

.main-col {
  grid-column: 2;
  border-left: 1px solid #253341;
  border-right: 1px solid #253341;
}
.main-col .latest-tweets-header {
  border-bottom: 1px solid #253341;
  padding: 15px;
  font-size: 110%;
}
.main-col .status {
  padding: 10px;
  padding-left: 15px;
  border-bottom: 10px solid #253341;
}
.main-col .status .type-in {
  display: flex;
  padding-bottom: 10px;
}
.main-col .status .type-in .fa-user {
  margin-right: 10px;
  color: #657787;
  background-color: #cdd6dd;
  padding: 5px;
  padding-bottom: 0px;
  border-radius: 50%;
  overflow: hidden;
  font-size: 270%;
}
.main-col .status .type-in input {
  outline: none;
  border: none;
  color: #fff;
  background-color: #16212b;
  font-size: 1.2rem;
}
.main-col .status .type-in input::placeholder {
  color: #8899a6;
}
.main-col .status .lower-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-col .status .lower-btns .icons {
  font-size: 130%;
  color: #1da1f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.main-col .status .lower-btns .icons i {
  margin-left: 17px;
}
.main-col .status .lower-btns .send-tweet {
  background-color: #1da0f273;
  color: #ffffff6e;
  padding: 10px 15px;
  border-radius: 70px;
  font-weight: bold;
}

.profiles {
  grid-column: 3;
}
